*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
}

.radiante{
    background-image: linear-gradient(rgb(65, 61, 61), rgb(26, 26, 26));
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
}
/* common */

/* common */

/* main */
main{
    height: 95vh;
    background-color: black;
    position: relative;
}
main header{
    position: absolute;
    top: 10px;
    right: 20px;
}

/* main */


/* footer */
footer{
    height: 5vh;
}

/* footer */
/* debug */

/* debug */