*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
}

.radiante{
    background-image: linear-gradient(rgb(65, 61, 61), rgb(26, 26, 26));
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
}

.blue{
    color: blue;
}
/* common */

/* common */

/* main */
main{
    height: 95vh;
    background-color: black;
    position: relative;
}
main header{
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

main header>div{
    margin: 0 5px;
}

main .contenitore  {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .contenitore .frecce {
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .contenitore .frecce i{
    font-size: 40px;
}

/* .partecipanti */
.partecipanti{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.partecipanti .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partecipanti .item{
    position: relative;
    width: calc(20% - 10px);
    margin: 5px;
}

.partecipanti .item .name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 3px;
    font-size: 16px;
}
.partecipanti .item .name *{
    display: inline-block;
}

.partecipanti .item .name i{
    padding: 0 5px;
}

.partecipanti .item .name .mute{
    height: 3px;
    width: 20px;
    background-color: red;
    position: absolute;
    left: 4px;
    top: 10px;
    transform: rotate(0.38turn);;
}

.partecipanti .item:last-child{
    border: 5px solid yellowgreen;
}
/* .partecipanti */

/* main */


/* footer */
footer{
    height: 5vh;
}

/* footer */
/* debug */
.debug main .contenitore  {
    background-color: aqua;
}

.debug main .contenitore>div  {
    background-color: red;  
}

.debug main .item  {
    background-color: rebeccapurple;
    width: calc(20% - 10px);
    margin: 5px;
}
/* debug */